@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}
@{string typyazi = ""; }
@{string caticon = ""; }
@{string typcolor = ""; }
@{string catcolor = ""; }
@{string catyazi = ""; }
@{string deal = ""; }
@{string dealtype = ""; }
@{string lnk = ""; }
<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">İlan Listesi</h6>
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">İlan Başlığı</th>
                        <th scope="col">Şehir</th>
                        <th scope="col">İlçe</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Tür</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Güncelle</th>
                        <th scope="col">Sitede Gör</th>
                        <th scope="col">Günün Fırsatı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        switch (item.type)
                        {
                            case "Satılık":                                
                                typcolor = "btn btn-success";
                                typyazi = "Satılık";
                                break;
                            case "Kiralık":
                                typcolor = "btn btn-warning";                                
                                typyazi = "Kiralık";
                                break;
                        }
                        switch (item.categoryName)
                        {
                            case "Villa":
                                catcolor = "btn btn-primary";
                                caticon = "fa fa-vihara";
                                catyazi = "Villa";
                                break;
                            case "Yazlık":
                                catcolor = "btn btn-danger";
                                caticon = "fa fa-home";
                                catyazi = "Yazlık";
                                break;
                            case "Daire":
                                catcolor = "btn btn-warning";
                                caticon = "fa fa-building";
                                catyazi = "Daire";
                                break;
                        }                                   
                        switch (item.dealOfTheDay)
                        {
                            case true:
                                deal = "btn btn-outline-danger";
                                dealtype = "Pasif Yap";
                                lnk = "/Product/ProductDealOfTheDayStatusChangeToFalse";
                                break;
                            case false:
                                deal = "btn btn-outline-success";
                                dealtype = "Aktif Yap";
                                lnk = "/Product/ProductDealOfTheDayStatusChangeToTrue";
                                break;
                        }
                        <tr>
                            <th scope="row">@item.productID</th>
                            <td>@item.productTitle</td>
                            <td>@item.city</td>
                            <td>@item.district</td>
                            <td><span class="@catcolor"> @catyazi <i class="@caticon"></i> </span> </td>
                            <td>@item.price</td>
                            <td> <span class="@typcolor"> @typyazi </span> </td>
                            <td><a href="/Product/DeleteProduct/@item.productID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Product/UpdateProduct/@item.productID" class="btn btn-outline-success">Güncelle</a></td>
                            <td><a href="/Product/ProductDetail/@item.productID" class="btn btn-outline-primary">Sitede Gör</a></td>
                            <td><a href="@lnk/@item.productID" class="@deal">@dealtype</a></td>

                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Product/CreateProduct/" class="btn btn-outline-info">Yeni İlan Girişi</a>
        </div>
    </div>
</div>
